@import 'tailwindcss';

@source '../../site/snippets';
@source '../../site/templates';

@plugin '@tailwindcss/typography';

@theme {
  --font-*: initial;
  --font-body: Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-heading: Quicksand, Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility blocks {
  @apply prose prose-lg text-gray-500 max-w-none
    prose-a:text-purple-700 prose-a:hover:text-purple-800
    prose-blockquote:border-purple-600 prose-blockquote:not-italic prose-blockquote:text-xl;

  blockquote footer {
    @apply text-sm italic mt-1;
  }

  img {
    @apply my-0;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
  }
}
