@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer components {

}

@layer utilities {
  .blocks {
    @apply prose prose-lg text-gray-500 max-w-none
    prose-a:text-purple-700 hover:prose-a:text-purple-800
    prose-blockquote:border-purple-600 prose-blockquote:not-italic prose-blockquote:text-xl;

    blockquote footer {
      @apply text-sm italic mt-1;
    }

    img {
      @apply my-0;
    }
  }
}
